<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT US</title>
<link rel="stylesheet" href="../style.css">
</head>
<body><img id="logo" src="../web image/Pizza-logo-vector-PNG.png" height="100%" width="80"></a>       
    &emsp;
    <!-- Quicks links -->
        <a href="../index.html">Home</a>&emsp;&emsp;&emsp;&emsp;&emsp;
        <a href="./about.html">About</a>&emsp;&emsp;&emsp;
        <a href="./service.html">Services</a>&emsp;&emsp;&emsp;&emsp;
        <a href="./Deals.html">our Deals</a>&emsp;&emsp;&emsp;&emsp;&emsp;
        <a href="./contact.html">Contact us</a>
    <h1>ABOUT US</h1>
    <center><p>This is not real pizza website this is my practice/demo website.<br>Iam design any marketing website like this if you want to make website for your business or anything.<br> pleace contact:0315-3669511(only whatsapp)<br>
    <img src="../web image/aeiyan.jpg" width="200px "height="50%"><br>Aeiyan Khan
</p>
<!-- user social media account links -->
<center>
    <p>My professional Account</p>
    <a href="https://www.facebook.com/aeiyan.khan" target="_blank"><img src="https://www.facebook.com/images/fb_icon_325x325.png" height="50%"width="40"></a>
    <a href="https://github.com/aeiyannn" target="_blank"><img src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png" height="50%"width="45"></a>
    <a href="https://www.fiverr.com/aeiyankhan977?up_rollout=true" target="_blank"><img src="https://user-images.githubusercontent.com/70473461/92360592-5a3bb800-f0ed-11ea-8dce-dd95b72c7825.png" height="60%" width="55"></a></center>
</body>
</html>