<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <!-- web logo -->
    <img id="logo" src="../web image/Pizza-logo-vector-PNG.png" height="100%" width="80"></a>       
        &emsp;
        <!-- Quick links -->
            <a href="../index.html">Home</a>&emsp;&emsp;&emsp;&emsp;&emsp;
            <a href="./about.html">About</a>&emsp;&emsp;&emsp;
            <a href="./service.html">Services</a>&emsp;&emsp;&emsp;&emsp;
            <a href="./Deals.html">our Deals</a>&emsp;&emsp;&emsp;&emsp;&emsp;
            <a href="">Contact us</a>
        <h1>Contact US</h1>
        <center><p>Thanks for Watching our website. This website is made with 90% html and 10% Css.<br>If you want see code vist my github account. If you advice/see mistake on my wesite please email my gmail account</p>
        <!-- user feedback account links -->
            <address><a href="mailto:khanaeiyan@gmail.com" target="_blank"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUdI7PdDoUum6Xkjbp0qp8Tdfu1M-V8aqdEkJPBDiZ-LWJeckrrcK4Zc7ao_R0x7op4Lw&usqp=CAU" height="80%"width="80"><br>&emsp;&emsp;&emsp;click ⇧ for email me</a></address><br>
            <a href="https://github.com/aeiyannn" target="_blank"><img src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png" height="80%"width="80"><br>&emsp;&emsp;&emsp;click ⇧ for github </a></center>
        </body>
        </html>