<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Deals</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
  <!-- web logo -->
  <img id="logo" src="../web image/Pizza-logo-vector-PNG.png" height="100%" width="80"></a>
    &emsp;
    <!-- Quick links -->
    <a href="../index.html">Home</a>&emsp;&emsp;&emsp;&emsp;&emsp;
    <a href="./about.html">About</a>&emsp;&emsp;&emsp;
    <a href="./service.html">Services</a>&emsp;&emsp;&emsp;&emsp;
    <a href="./Deals.html">Our Deals</a>&emsp;&emsp;&emsp;&emsp;&emsp;
    <a href="./contact.html">Contact us</a><br><br>
    <!-- Deals image -->
  <h1>Our Deals</h1> 
  <p><img src="https://www.pngkey.com/png/full/265-2656930_deal-pizza-deal-png.png" align="left" height="150" width="30%">
    <h2>Deal 1<br><del>2500</del>Only 1899</h2><h4>1 Large fajita Pizza<br>1 Large tikka Pizza<br>1 Half macroni<br>6 pcs garlic bread
  </h4></p><br>
  <img src="https://www.pngkey.com/png/full/265-2656604_deal-pizza-deal-png.png"align="left" height="150" width="30%" >
    <p><h2>Deal 2<br><del>1500</del>Only 999</h2><h4>1 Jumbo tikka Pizza<br>1ltr pepsi</h4></p>
</body>
</html>